@model Order

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        body {
            background-image: url('https://th.bing.com/th/id/OIP.pC1bRiGhKgB7-wUTkgbULAHaEK?rs=1&pid=ImgDetMain');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
                <h2>Checkout</h2>
                <form asp-action="Checkout" method="post">
                    <div class="form-group">
                        <label for="HouseAddress">Địa chỉ nhà</label>
                        <input asp-for="HouseAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="PickUpAddress">Địa chỉ đón</label>
                        <input asp-for="PickUpAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Notes">Notes</label>
                        <textarea asp-for="Notes" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Place Order</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   @*  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
